doctype html
head
  title Document
  link(rel='stylesheet' href='/css/style.css')
  style.
    body {
    background-color: #95938f;
    margin-bottom: 50px;
    }
    html,button, input, select, textarea {
    font-family: 'Montserrat', Helvetica, sans-serif;
    color: #bbb;
    }
h1 404 Error
p.zoom-area(style='color: rgb(216, 15, 15); font-size:x-large ;')
  b Live with the Land
section.error-container(style='margin-left: 14rem;')
  span.four
    span.screen-reader-text 4
  span.zero
    span.screen-reader-text 0
  span.four
    span.screen-reader-text 4
  h4(style='font-size: xx-large; margin-top: 5rem;') Possible Reasons for Error
  #error.error(style='background-color: #d6d3cd55; border-radius: 25%;')
    p(style='font-size: x-large; margin-top: 2rem; color: rgb(45, 43, 41);') *Might have not logged in
    p(style='font-size: x-large; margin-top: 1rem; color: rgb(45, 43, 41);') *Token might be expered,need to login again
    p(style='font-size: x-large; margin-top: 1rem; color: rgb(45, 43, 41);') *Not Authenticated to do the Action
    p(style='font-size: x-large; margin-top: 1rem; color: rgb(45, 43, 41);') *Inavalid email or password
  a.btn1(href='login.html' style='margin-top: 0rem;') GO BACK
script(src='/js/script.js')
