              //- if(user.roles==="farmer")
              //-   a(href='/dashboard') view Dashboard
              //- if(user.roles==="dealer")
              //-   a(href='/dashboard2') view Dashboard
              //- if(user.roles==="analyst")
              //-   a(href='/dashboard3') view Dashboard
              //- a(href="https://drive.google.com/file/d/15twY7egIZTpYKLU5TkegBvwjchxE4eA-/view?usp=share_link") view manual