footer.footer(style="margin-top:3rem;")
      section
        .share
          a.fab.fa-facebook-f(href='#')
          a.fab.fa-twitter(href='#')
          a.fab.fa-linkedin(href='#')
          a.fab.fa-instagram(href='#')
          a.fab.fa-youtube(href='#')
        .credit
          | &copy; copyright @ 2023 by 
          span HMTM-PU
          |  |all rights reserved!