doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(type='text/javascript', src='https://www.google.com/jsapi')
    script(async='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAm4Ac7BjHp3QL6dBg3328lTNaDtvZC1sI&callback=drawMap')
    title Document
  body(style='background-color: black;')
  
    main#main
      div(align='center')
        #visualization
      script.
        google.load('visualization','1',{'packages':['geochart']})
        google.setOnLoadCallback(drawVisualization);
        function drawVisualization() {
        var data = google.visualization.arrayToDataTable([
        ['State Code', 'State', 'Areca nut','Coconut'],
        [
        'IN-UP','Uttar Pradesh', 43300, 5000],
        ['IN-MH','Maharashtra', 45000,4500],
        ['IN-BR','Bihar', 50100,7000],
        ['IN-WB','West Bengal', 56200,9000],
        ['IN-MP','Madhya Pradesh', 45700,4200],
        ['IN-TN','Tamil Nadu', 23930,2500],
        ['IN-RJ','Rajasthan', 10300,8000],
        ['IN-KA','Karnataka', 38239,9500],
        ['IN-GJ','Gujarat', 13040,2000],
        ['IN-AP','Andhra Pradesh', 45320,5000],
        ['IN-OR','Orissa', 45133,8000],
        ['IN-TG','Telangana', 35233,9000],
        ['IN-KL','Kerala', 34511,7500],
        ['IN-JH','Jharkhand', 36000,3100],
        ['IN-AS','Assam', 280,7000],
        ['IN-PB','Punjab', 300,10000],
        ['IN-CT','Chhattisgarh', 45330,9850],
        ['IN-HR','Haryana', 52300,7895],
        ['IN-JK','Jammu and Kashmir', 32200,15000],
        ['IN-UT','Uttarakhand', 54208,7852],
        ['IN-HP','Himachal Pradesh', 45107,8000],
        ['IN-TR','Tripura', 24301,6000],
        ['IN-ML','Meghalaya', 32210,7895],
        ['IN-MN','Manipur', 35220,4568],
        ['IN-NL','Nagaland', 54201,7842],
        ['IN-GA','Goa', 201121,1235],
        ['IN-AR', 'Arunachal Pradesh', 32143,7895],
        ['IN-MZ','Mizoram', 42233,9582],
        ['IN-SK','Sikkim', 54724,9582],
        ['IN-DL','Delhi', 32231,7854],
        ['IN-PY','Puducherry', 24233,1236],
        ['IN-CH','Chandigarh', 28530,4520],
        ['IN-AN','Andaman and Nicobar Islands',29630,5892],
        ['IN-DN','Dadra and Nagar Haveli', 23250,6892],
        ['IN-DD','Daman and Diu', 22969,9856],
        ['IN-LD','Lakshadweep', 23751,1111]
        ]);
        var opts={
        region:'IN',
        domain:'IN',
        displayMode:'regions',
        colorAxis:{colors:['#81d4fa','#FFFF00','#0000FF' ] },
        resolution:'provinces',
        backgroundColor:'blue',
        defaultColor:'#f5f5f5',
        width:940,
        height:690
        }
        var geochart=new google.visualization.GeoChart(document.getElementById('visualization'));
        geochart.draw(data,opts);
        };
    #chart_div
    script.
      function drawMap() {
      var data = google.visualization.arrayToDataTable([
      ['Lat', 'Long', 'Name'],
      [37.4232, -122.0853, 'Work'],
      [37.4289, -122.1697, 'University'],
      [37.6153, -122.3900, 'Airport'],
      [37.4422, -122.1731, 'Shopping']
      ]);
      var options = {
      showTooltip: true,
      showInfoWindow: true
      };
      var map = new google.visualization.Map(document.getElementById('chart_div'));
      map.draw(data, options);
      };
section(style="display:block; width:100px; height:100px; margin:auto;")
  #google_element
  script(src='https://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate')
  script.
    function loadGoogleTranslate() {
    new google.translate.TranslateElement("google_element");
    }