header.header
      section.flex
        a.logo(href='#home')
          span W
          | EB 
          span D
          | EVA
        nav.navbar
            if(user)
              a(href='/') home
              a(href='/me') View profile
              a(href='/viewWether') View Weather
              a(href='/getNews') Top News
              if(user.roles==="farmer")
                a(href='/dashboard') view Dashboard
                a(href='/chatBot') Talk to robo
                a(href='/viewPrice') see Market price
                a(href='/viewWorkshop') view Service
                
                a(href='/analytics') Analytics
                a(href='/viewBargain') ViewBargain
              if(user.roles==="dealer")
                a(href='/dashboard2') view Dashboard
                a(href='/viewPrice') see Market price
                a(href='/productPage') ProductPage
                a(href='/analytics') Analytics
              if(user.roles==="analyst")
                a(href='/dashboard3') view Dashboard
                a(href='/viewPrice') see Market price
                a(href='/createWorkshop') add service
              if(user.roles==="admin")
                a(href='/farmersGrowth') view Farmers Growth
                a(href='/orderStatus') Order Status
                a(href='/viewPrice') see Market price
                a(href='/removeUser') remove user
              
              form(class="logout--form")
                input.btn1(type="submit" value="logout" id="logout" style="margin-left:20px;")
            else
              a(href='/') home
              a(href='/me') View profile
              a(href="https://drive.google.com/file/d/15twY7egIZTpYKLU5TkegBvwjchxE4eA-/view?usp=share_link") view manual
              
              form(class="logout--form")
                input.btn1(type="submit" value="logout" id="logout" style="margin-left:20px;")

            
        #menu-btn.fas.fa-bars