body{
    background-color: #242526;
}


.heading h1 strong{
    color: green;
    font-size: 40px;
}



.heading h1{
    padding-left: 40%;
    color: #fff;
    padding-top: 50px;
    font-size: 40px;
}



.crop-image img{
    width: 55%;
    height: 10%;
    border-radius: 30px;
    padding-top: 30px;
    padding-left: 55px;
}

.container .live-button{
    margin-left: 70%;
}

.btn {
    display: inline-block;
    border-radius: 6px;
    background-color:green;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 23px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 15%;
}

.btn a span{
    color: #fff;
}

.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .btn:hover span {
    padding-right: 25px;
  }
  
  .btn:hover span:after {
    opacity: 1;
    right: 0;
  }

form label{
    padding-right: 50px;
    color: #fff;
}

input[type=text] {
    color: aqua;
    background-color: #242526;
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid green;
  }

.form-right{
    margin-top: -450px;
    margin-right: 125px;
    width: 25%;
    float: right;
}

.btn2 {
    margin-top: 55px;
    display: inline-block;
    border-radius: 6px;
    background-color:green;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 23px;
    padding: 10px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 15%;
}

.lock{
    margin-top: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}