doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/bargain.css')
    link(rel='stylesheet',href='/css/style.css')
    title Document
  body
  
    .container
      .heading
        h1
          strong B
          | ARGAIN
      .live-button
        button.btn
          a(href='https://madakarinayakahm.github.io/agora/')
            span LIVE TALK
      .crop-image
        img(src='https://images.moneycontrol.com/static-mcnews/2019/08/Farmers_Agriculture_.jpg?impolicy=website&width=770&height=431')
      form.bargain
        .form-right
          label(for='fname') Deal ID
          input#dealId(type='text', name='fname', value=`${dealId}`, readonly='')
          label(for='lname') Updated Price
          input#bargainedAmount(type='text', name='lname')  
          input.btn2(type="submit" value="Bargain")
  script(src="/js/bargain.js")
  script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js') 
  