doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // custom css file link
    link(rel='stylesheet', href='/css/style2.css')
  body
    .heading
      span PAYMENT 
      |  GATEWAY
    .container
      form(action='' class="payment")
        .row
          .col
            h3.title payment
            .row
              .inputBox
                span Total Amount :
                p=d.expectedPrice
              .inputBox
                span cards accepted :
                img(src='card_img.png', alt='')
            .inputBox
              span name on card :
              input(type='text', placeholder='mr. john deo', required='' id="nameOnCard")
            .inputBox
              span orderId :
              input(type='text', placeholder='mr. john deo', required='' id="Id" value=`${dealId}` readonly)
            .inputBox
              span credit card number :
              input(type='number', placeholder='1111-2222-3333-4444', required='' id="creditCardNo")
            .inputBox
              span exp month :
              input(type='text', placeholder='january', required='' id='expMonth')
            .flex
              .inputBox
                span exp year :
                input(type='number', placeholder='2022', required='' id='expYear')
              .inputBox
                span CVV :
                input(type='text', placeholder='1234', required='')
                input(type="submit" value="submit")
        button.btn(type='button')
          a(href=`/tracker/${dealId}`)
            span Proceed to Checkout
script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js')
script(src="/js/order.js")